{% extends '@EasyAdmin/layout.html.twig' %}

{% block page_title %}{{ 'ea.home.title'|trans }}{% endblock %}
{% block content_title %}{{ 'ea.home.title'|trans }}{% endblock %}

{% block main %}

{% endblock %}
