{% extends '@EasyAdmin/layout.html.twig' %}

{% block page_title %}{{ 'ea.media.title'|trans }}{% endblock %}
{% block content_title %}{{ 'ea.media.title'|trans }}{% endblock %}

{% block main %}
	<iframe src="{{ path('file_manager', {conf: 'public_all'}) }}" frameborder="0" style="min-height: 780px;" height="100%" width="100%"></iframe>
{% endblock %}
