{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# This template checks for 'ea' variable existence because it can
   be used in a EasyAdmin Dashboard controller, where 'ea' is defined
   or from any other Symfony controller, where 'ea' is not defined #}
{% trans_default_domain ea is defined ? ea.i18n.translationDomain : (translation_domain is defined ? translation_domain ?? 'messages') %}
{% if app.session is not null and app.session.started %}
	{% set flash_messages = app.session.flashbag.all %}

	{% if flash_messages|length > 0 %}
			{% for label, messages in flash_messages %}
				{% for message in messages %}
					<div class="position-fixed bottom-0 end-0 w-25 alert alert-{{ label }} alert-dismissible" role="alert" style="z-index: 9999;">
						<div class="d-flex">
							<div>
								{% if label == "success" %}
									{% set icon = 'check' %}
								{% elseif label == "info" %}
									{% set icon = 'info-circle' %}
								{% elseif label == "warning" %}
									{% set icon = 'alert-triangle' %}
								{% elseif label == "danger" %}
									{% set icon = 'alert-circle' %}
								{% endif %}
								<i class="icon alert-icon ti ti-{{ icon }}"></i>
							</div>
							<div>
								<h4 class="alert-title">{{ message|trans|raw }}</h4>
							</div>
						</div>
						<a class="btn-close" data-bs-dismiss="alert" aria-label="close"></a>
					</div>
				{% endfor %}
			{% endfor %}
	{% endif %}
{% endif %}
