<div id="modal-batch-action" class="modal fade" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-status bg-danger"></div>
			<div class="modal-header">
				<h5 id="batch-action-confirmation-title" class="modal-title">
					{{ 'batch_action_modal.title'|trans([], 'EasyAdminBundle') }}
				</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ 'action.close'|trans([], domain = 'EasyAdminBundle') }}"></button>
			</div>
			<div class="modal-body text-center py-4">
				<i class="icon ti ti-alert-triangle mb-2 text-danger" style="font-size: 100px;"></i>
				<p>{{ 'batch_action_modal.content'|trans(domain = 'EasyAdminBundle') }}</p>
			</div>
			<div class="modal-footer">
				<button type="button" data-bs-dismiss="modal" class="btn btn-secondary">
					<i class="icon ti ti-x"></i> {{ 'action.cancel'|trans(domain = 'EasyAdminBundle') }}
				</button>
				<button type="button" data-bs-dismiss="modal" class="btn btn-danger" id="modal-batch-action-button">
					<i class="icon ti ti-check"></i> {{ 'batch_action_modal.action'|trans(domain = 'EasyAdminBundle') }}
				</button>
			</div>
		</div>
	</div>
</div>
