{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
<form method="post" id="delete-form" style="display: none">
	<input type="hidden" name="token" value="{{ ea_csrf_token('ea-delete') }}" />
</form>

<div id="modal-delete" class="modal fade" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-status bg-danger"></div>
			<div class="modal-header">
				<h5 class="modal-title">
					{{ 'delete_modal.title'|trans([], 'EasyAdminBundle') }}
				</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ 'action.close'|trans([], domain = 'EasyAdminBundle') }}"></button>
			</div>
			<div class="modal-body text-center py-4">
				<i class="icon ti ti-alert-triangle mb-2 text-danger" style="font-size: 100px;"></i>
				<p>{{ 'delete_modal.content'|trans([], 'EasyAdminBundle') }}</p>
			</div>
			<div class="modal-footer">
				<button type="button" data-bs-dismiss="modal" class="btn btn-secondary">
					<i class="icon ti ti-x"></i> {{ 'action.cancel'|trans([], 'EasyAdminBundle') }}
				</button>
				<button type="button" data-bs-dismiss="modal" class="btn btn-danger" id="modal-delete-button" form="delete-form">
					<i class="icon ti ti-trash"></i> {{ 'action.delete'|trans([], 'EasyAdminBundle') }}
				</button>
			</div>
		</div>
	</div>
</div>
