<div id="modal-filters" class="modal fade" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">
					{{ 'filter.title'|trans(domain = 'EasyAdminBundle') }}
				</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ 'action.close'|trans([], domain = 'EasyAdminBundle') }}"></button>
			</div>
			<div class="modal-body">
			</div>
			<div class="modal-footer">
				<button type="button" data-bs-dismiss="modal" class="btn btn-secondary" id="modal-clear-button" formtarget="_self">
					<i class="icon ti ti-x"></i> {{ 'filter.button.clear'|trans(domain = 'EasyAdminBundle') }}
				</button>
				<button type="button" data-bs-dismiss="modal" class="btn btn-primary" id="modal-apply-button" formtarget="_self">
					<i class="icon ti ti-check"></i> {{ 'filter.button.apply'|trans(domain = 'EasyAdminBundle') }}
				</button>
			</div>
		</div>
	</div>
</div>
