{% set media = media ?? field.value ?? null %}

{% set imageExts = ["apng", "avif", "bmp", "gif", "jpg", "jpeg", "jfif", "pjpeg", "pjp", "png", "svg", "webp"] %}
{% set isForm = ea.crud.currentAction == 'new' or ea.crud.currentAction == 'edit' %}

{% set id = id ?? random() %}
{% set attr = attr ?? field.formTypeOptions.attr ?? null %}

{% set fileExt = media|split('?')|first|split('.')|last|lower %}
{% set fileName = media|split('.')|first|split('/')|last %}

<div class="media-container {% if not media %}d-none{% endif %}">
	<span class="media-image avatar avatar-xl {% if fileExt not in imageExts %}d-none{% endif %}" style="background-image: url('{{ media }}')">
		{% if isForm %}
			<i class="ti ti-x media-remove" role="button"></i>
		{% endif %}
		<a href="{{ media }}" class="stretched-link" data-action="zoom" style="cursor: zoom-in;"></a>
	</span>

	<span class="media-file avatar avatar-xl {% if fileExt in imageExts %}d-none{% endif %}">
		<i class="icon ti ti-file"></i>
		{% if isForm %}
			<i class="ti ti-x media-remove" role="button"></i>
		{% endif %}
		<a href="{{ media }}" target="_blank" class="stretched-link" style="cursor: zoom-in;"></a>
	</span>
</div>

{% if not media and not isForm %}
	{{ include(ea.templatePath('label/null')) }}
{% endif %}
