{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var action \EasyCorp\Bundle\EasyAdminBundle\Dto\ActionDto #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}
{% set isGlobal = isIncludedInDropdown is not defined %}
{% set isIncludedInDropdown = not isGlobal and isIncludedInDropdown is not null ? isIncludedInDropdown : false %}
{% if 'a' == action.htmlElement %}
	<a class="{{ isIncludedInDropdown and not isGlobal ? 'dropdown-item' }} {{ action.cssClass }}"
	   href="{{ action.linkUrl }}"
	   {% for name, value in action.htmlAttributes %}{{ name }}="{{ value|e('html_attr') }}" {% endfor %}>
		{%- if action.icon %}
			<i class="{{ isIncludedInDropdown and not isGlobal ? 'dropdown-item-icon' }} {{ action.icon }}"
			{%- if action.label is not empty and not isIncludedInDropdown and not isGlobal -%} data-bs-toggle="tooltip" data-bs-placement="top" title="{{ action.label }}"{%- endif -%}></i>
		{% endif -%}
		{%- if action.label is not empty and (isIncludedInDropdown or isGlobal) -%}<span class="action-label">{{ action.label }}</span>{%- endif -%}
	</a>
{% elseif 'button' == action.htmlElement %}
	<button class="{{ action.cssClass }}" {% for name, value in action.htmlAttributes %}{{ name }}="{{ value|e('html_attr') }}" {% endfor %}>
		<span class="btn-label">
			{%- if action.icon %}
				<i class="{{ action.icon }}"></i>
			{% endif -%}
			{%- if action.label is not empty -%}<span class="action-label">{{ action.label }}</span>{%- endif -%}
		</span>
	</button>
{% endif %}
