{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var entities \EasyCorp\Bundle\EasyAdminBundle\Collection\EntityDtoCollection #}
{# @var paginator \EasyCorp\Bundle\EasyAdminBundle\Orm\EntityPaginator #}
{% extends ea.templatePath('layout') %}
{% trans_default_domain ea.i18n.translationDomain %}

{% block body_id entities|length > 0 ? 'ea-index-' ~ entities|first.name : '' %}
{% block body_class 'ea-index' ~ (entities|length > 0 ? ' ea-index-' ~ entities|first.name : '') %}

{% set ea_field_assets = ea.crud.fieldAssets(constant('EasyCorp\\Bundle\\EasyAdminBundle\\Config\\Crud::PAGE_INDEX')) %}

{% block configured_head_contents %}
	{{ parent() }}
	{% for htmlContent in ea_field_assets.headContents %}
		{{ htmlContent|raw }}
	{% endfor %}
{% endblock %}

{% block configured_body_contents %}
	{{ parent() }}
	{% for htmlContent in ea_field_assets.bodyContents %}
		{{ htmlContent|raw }}
	{% endfor %}
{% endblock %}

{% block configured_stylesheets %}
	{{ parent() }}
	{{ include('@EasyAdmin/includes/_css_assets.html.twig', { assets: ea_field_assets.cssAssets }, with_context = false) }}
	{{ include('@EasyAdmin/includes/_encore_link_tags.html.twig', { assets: ea_field_assets.webpackEncoreAssets }, with_context = false) }}
{% endblock %}

{% block configured_javascripts %}
	{{ parent() }}
	{{ include('@EasyAdmin/includes/_js_assets.html.twig', { assets: ea_field_assets.jsAssets }, with_context = false) }}
	{{ include('@EasyAdmin/includes/_encore_script_tags.html.twig', { assets: ea_field_assets.webpackEncoreAssets }, with_context = false) }}
{% endblock %}

{% block content_title %}
	{%- apply spaceless -%}
		{% set custom_page_title = ea.crud.customPageTitle('index') %}
		{{ custom_page_title is null
			? ea.crud.defaultPageTitle('index')|trans(ea.i18n.translationParameters, 'EasyAdminBundle')
			: (custom_page_title|trans(ea.i18n.translationParameters))|raw }}
	{%- endapply -%}
{% endblock %}

{% set has_batch_actions = batch_actions|length > 0 %}
{% block page_actions %}
	{% if filters|length > 0 or has_batch_actions or global_actions|length > 0 %}
		<div class="btn-list justify-content-end">
	{% endif %}
		{% if filters|length > 0 %}
			<div class="datagrid-filters">
				{% block filters %}
					{% set applied_filters = ea.request.query.all['filters']|default([])|keys %}
					<div class="btn-group action-filters">
						<a href="#" data-href="{{ ea_url().setAction('renderFilters').includeReferrer() }}" class="btn btn-secondary action-filters-button disabled {{ applied_filters ? 'action-filters-applied' }}" data-bs-toggle="modal" data-bs-target="#modal-filters">
							<i class="icon ti ti-filter"></i> {{ 'filter.title'|trans(ea.i18n.translationParameters, 'EasyAdminBundle') }}{% if applied_filters %} <span class="text-light ms-1 action-filters-button-count">({{ applied_filters|length }})</span>{% endif %}
						</a>
						{% if applied_filters %}
							<a href="{{ ea_url().unset('filters') }}" class="btn btn-icon btn-secondary action-filters-reset">
								<i class="icon ti ti-x"></i>
							</a>
						{% endif %}
					</div>
				{% endblock filters %}
			</div>
		{% endif %}

		{% block global_actions %}
			<div class="global-actions">
				{% for action in global_actions %}
					{{ include(action.templatePath, { action: action }, with_context = false) }}
				{% endfor %}
			</div>
		{% endblock global_actions %}

		{% block batch_actions %}
			{% if has_batch_actions %}
				<div class="batch-actions" style="display: none">
					{% for action in batch_actions %}
						{{ include(action.templatePath, { action: action }, with_context = false) }}
					{% endfor %}
				</div>
			{% endif %}
		{% endblock %}
	{% if filters|length > 0 or has_batch_actions or global_actions|length > 0 %}
		</div>
	{% endif %}
{% endblock page_actions %}

{% block main %}
	{# sort can be multiple; let's consider the sorting field the first one #}
	{% set sort_field_name = app.request.get('sort')|keys|first %}
	{% set sort_order = app.request.get('sort')|first %}
	{% set some_results_are_hidden = entities|reduce((some_results_are_hidden, entity) => some_results_are_hidden or not entity.isAccessible, false) %}
	{% set has_footer = entities|length != 0 %}
	{% set has_search = ea.crud.isSearchEnabled %}
	{% set has_filters = filters|length > 0 %}
	{% set num_results = entities|length %}

	{% if num_results > 0 %}
		<div class="card">
			<table class="table table-vcenter table-mobile-md card-table">
				<thead>
				{% block table_head %}
					<tr>
						{% if has_batch_actions %}
							<th class="w-1">
								<input class="form-check-input form-batch-checkbox-all" type="checkbox">
							</th>
						{% endif %}

						{% set ea_sort_asc = constant('EasyCorp\\Bundle\\EasyAdminBundle\\Config\\Option\\SortOrder::ASC') %}
						{% set ea_sort_desc = constant('EasyCorp\\Bundle\\EasyAdminBundle\\Config\\Option\\SortOrder::DESC') %}
						{% for field in entities|first.fields ?? [] %}
							{% set is_sorting_field = ea.search.isSortingField(field.property) %}
							{% set next_sort_direction = is_sorting_field ? (ea.search.sortDirection(field.property) == ea_sort_desc ? ea_sort_asc : ea_sort_desc) : ea_sort_desc %}
							{% set column_icon = is_sorting_field ? (next_sort_direction == ea_sort_desc ? 'ti-arrow-narrow-up' : 'ti-arrow-narrow-down') : 'ti-arrows-sort' %}

							<th class="{{ is_sorting_field ? 'sorted' }} {{ field.isVirtual ? 'field-virtual' }} header-for-{{ field.cssClass|split(' ')|filter(class => class starts with 'field-')|join('') }} text-{{ field.textAlign }}" dir="{{ ea.i18n.textDirection }}">
								{% if field.isSortable %}
									<a href="{{ ea_url({ page: 1, sort: { (field.property): next_sort_direction } }).includeReferrer() }}">
										{{ field.label|raw }} <i class="ti {{ column_icon }}"></i>
									</a>
								{% else %}
									<span>{{ field.label|raw }}</span>
								{% endif %}
							</th>
						{% endfor %}

						<th {% if ea.crud.showEntityActionsAsDropdown %}class="w-1"{% endif %} dir="{{ ea.i18n.textDirection }}">
							<span class="sr-only">{{ 'action.entity_actions'|trans(ea.i18n.translationParameters, 'EasyAdminBundle') }}</span>
						</th>
					</tr>
				{% endblock table_head %}
				</thead>

				<tbody>
				{% block table_body %}
					{% for entity in entities %}
						{% if entity.isAccessible %}
							<tr data-id="{{ entity.primaryKeyValueAsString }}">
								{% if has_batch_actions %}
									<td class="batch-actions-selector">
										<input class="form-check-input form-batch-checkbox" type="checkbox" value="{{ entity.primaryKeyValue }}">
									</td>
								{% endif %}

								{% for field in entity.fields %}
									<td data-label="{{ field.label|e('html_attr') }}" class="{{ field.property == sort_field_name ? 'sorted' }} text-{{ field.textAlign }} {{ field.cssClass }}" dir="{{ ea.i18n.textDirection }}">
										{{ include(field.templatePath, { field: field, entity: entity }, with_context = false) }}
									</td>
								{% endfor %}

								{% block entity_actions %}
									<td class="actions {{ ea.crud.showEntityActionsAsDropdown ? 'w-1' }}">
										{% if entity.actions.count > 0 %}
											{% if ea.crud.showEntityActionsAsDropdown %}
												<div class="dropdown dropdown-actions">
													<a class="link-secondary text-decoration-none" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
														<i class="icon icon-sm ti ti-dots"></i>
													</a>
													<div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
														{% for action in entity.actions %}
															{{ include(action.templatePath, { action: action, entity: entity, isIncludedInDropdown: ea.crud.showEntityActionsAsDropdown }, with_context = false) }}
														{% endfor %}
													</div>
												</div>
											{% else %}
												{% for action in entity.actions %}
													{{ include(action.templatePath, { action: action, entity: entity, isIncludedInDropdown: ea.crud.showEntityActionsAsDropdown }, with_context = false) }}
												{% endfor %}
											{% endif %}
										{% endif %}
									</td>
								{% endblock entity_actions %}
							</tr>
						{% endif %}
					{% endfor %}

					{% if some_results_are_hidden %}
						<tr>
							<td class="text-center" colspan="{{ entities|first.fields|length + (has_batch_actions ? 2 : 1) }}">
								<i class="icon ti ti-lock"></i> {{ 'datagrid.hidden_results'|trans({}, 'EasyAdminBundle') }}
							</td>
						</tr>
					{% endif %}
				{% endblock table_body %}
				</tbody>

				<tfoot>
					{% block table_footer %}{% endblock table_footer %}
				</tfoot>
			</table>
			<div class="card-footer d-flex align-items-center">
				{% block paginator %}
					{{ include(ea.templatePath('crud/paginator'), { render_detailed_pagination: not some_results_are_hidden }) }}
				{% endblock paginator %}
			</div>
		</div>
		{% block delete_form %}
			{{ include('@EasyAdmin/crud/includes/_delete_form.html.twig', with_context = false) }}
		{% endblock delete_form %}

		{% if has_batch_actions %}
			{{ include('@EasyAdmin/crud/includes/_batch_action_modal.html.twig', {}, with_context = false) }}
		{% endif %}
	{% else %}
		{% block table_body_empty %}
			<div class="empty">
				<p class="empty-subtitle text-muted">
					{{ 'datagrid.no_results'|trans(ea.i18n.translationParameters, 'EasyAdminBundle') }}
				</p>
			</div>
		{% endblock table_body_empty %}
	{% endif %}


	{% if has_filters %}
		{{ include('@EasyAdmin/crud/includes/_filters_modal.html.twig') }}
	{% endif %}

{% endblock main %}
