{% set canEdit = app.user and app.user.hasPermission('entityMedia') %}
{% set canUpload = app.user %}

{% use '@EasyAdmin/symfony-form-themes/bootstrap_5_layout.html.twig' %}
<!doctype html>
<html lang="en" id="dropzone" class="hide-scroll">
<head>
	{% block head_metas %}
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="robots" content="noindex, nofollow, noarchive, nosnippet, noodp, noimageindex, notranslate, nocache" />
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
		<meta name="generator" content="EasyAdmin" />
	{% endblock head_metas %}

	<title>{% block title %}{{ 'ea.media.title'|trans }}{% endblock %}</title>

	{% block configured_stylesheets %}
		{{ encore_entry_link_tags('app') }}
		{{ encore_entry_link_tags('admin') }}
	{% endblock %}

	{% block stylesheets %}
		<style>
			.label.label-default {
				display: inline-flex;
				justify-content: center;
				align-items: center;
				background: #64748b;
				overflow: hidden;
				border: 1px solid transparent;
				min-width: 1.3571428571em;
				font-weight: 600;
				letter-spacing: .04em;
				padding: .25em .5em;
				font-size: 85%;
				line-height: 1;
				color: #fff;
				text-align: center;
				white-space: nowrap;
				vertical-align: baseline;
				border-radius: 4px;
			}
			td.select:hover {
				box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.075);
				cursor: pointer;
			}
		</style>
		<link rel="stylesheet" href="{{ asset('bundles/artgrisfilemanager/libs/jstree/dist/themes/default/style.min.css') }}">
		<link rel="stylesheet" href="{{ asset('bundles/artgrisfilemanager/libs/blueimp-file-upload/css/jquery.fileupload.css') }}">
	{% endblock %}
</head>

{% block body %}
	{% set bodyClassSidebar = app.request.cookies.get('ea/sidebar') == "small" ? 'ea-sidebar-small' : 'ea-sidebar-big' %}
	{% set bodyClassColorScheme = app.request.cookies.get('ea/colorScheme') == "dark" ? 'ea-dark-scheme theme-dark' : 'ea-light-scheme theme-light' %}
	<body class="{{ bodyClassSidebar }} {{ bodyClassColorScheme }}">
		<div class="container-fluid ">
			{% block progress_bar %}
				<div class="row mb-3">
					<div class="progress bg-transparent">
						<div class="progress-bar" role="progressbar" style="width: 0" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
				</div>
			{% endblock %}
			<div class="row mb-3">
				{% block actions %}
					<div class="col">
						<div class="btn-list">
							<a title="{{ 'button.tree'|trans }}"
								href="{{ path('file_manager', fileManager.queryParameters|merge({'tree': fileManager.tree == true ? 0 : 1 })) }}"
								class="btn btn{{ not fileManager.tree ? '-ghost' }}-secondary btn-icon"
								data-bs-toggle="tooltip" data-bs-placement="bottom">
								<i class="icon ti ti-menu-2"></i>
							</a>
							{% if fileManager.parent and app.request.get('route') != '\\' %}
								<a title="{{ 'button.parent'|trans }}"
									href="{{ fileManager.parent }}"
									class="btn btn{{ not fileManager.tree ? '-ghost' }}-secondary btn-icon"
									data-bs-toggle="tooltip" data-bs-placement="bottom">
									<i class="icon ti ti-chevron-left"></i>
								</a>
							{% endif %}
							<button type="button" title="{{ 'button.refresh'|trans }}"
								onClick="window.location.reload()"
								class="btn btn-ghost-secondary btn-icon {{ fileManager.tree ? 'active' }}"
								data-bs-toggle="tooltip" data-bs-placement="bottom">
								<i class="icon ti ti-refresh"></i>
							</button>
							{% if canUpload %}
								<span class="btn btn-success fileinput-button">
									<i class="icon ti ti-upload"></i> {{ 'button.add.files'|trans }}
									<input id="fileupload" type="file" style="width: 100%;height: 100%;cursor: pointer;"
										data-url="{{ path('file_manager_upload', fileManager.queryParameters) }}"
										name="files[]" multiple=""
										accept="{{ fileManager.configuration.accept is defined ? fileManager.configuration.accept : (fileManager.type ? accept(fileManager.type)) }}">
								</span>
							{% endif %}
							{% if canEdit %}
								<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addFolder">
									<i class="icon ti ti-folder"></i> {{ 'button.add.folder'|trans }}
								</button>
								{% if fileManager.parent and app.request.get('route') != '\\' %}
									<button type="button"
										class="btn btn-danger js-delete-modal"
										data-trigger="click"
										data-container="body"
										data-bs-toggle="modal"
										data-bs-target="#js-confirm-delete"
										data-placement="left"
										data-html="true"
										data-href='{{ path('file_manager_delete', fileManager.queryParameters) }}'>
										<i class="icon ti ti-trash"></i> {{ 'button.delete.current'|trans }}
									</button>
								{% endif %}
								<a id="js-delete-multiple-modal"
								class="btn btn-danger d-none"
								type="button"
								data-trigger="click"
								data-container="body"
								data-bs-toggle="modal"
								data-bs-target="#js-confirm-delete"
								data-placement="left"
								data-html="true">
									<i class="icon ti ti-trash"></i> {{ 'button.delete.selected'|trans }}
								</a>
							{% endif %}
						</div>
					</div>
				{% endblock %}
				{% block display %}
					<div class="col-auto ms-auto">
						<div class="row">
							<div class="col">
								<div class="input-icon">
									<span class="input-icon-addon">
										<i class="ti ti-search"></i>
									</span>
									<input type="search" class="form-control search" name="search" id="search" placeholder="{{ 'search.placeholder'|trans }}" aria-describedby="search">
								</div>
							</div>
							<div class="col-auto">
								<div class="btn-list">
									<a href="{{ path('file_manager', fileManager.queryParameters|merge({'view':"list"})) }}"
										class="btn btn{{ fileManager.view != 'list' ? '-ghost' }}-secondary btn-icon">
										<i class="icon ti ti-layout-list"></i>
									</a>
									<a href="{{ path('file_manager', fileManager.queryParameters|merge({'view':"thumbnail"})) }}"
										class="btn btn{{ fileManager.view != 'thumbnail' ? '-ghost' }}-secondary btn-icon">
										<i class="icon ti ti-layout-grid"></i>
									</a>
								</div>
							</div>
						</div>
						{% if fileManager.view != "list" %}
						<div class="row mt-3">
							<div class="col">
								<div class="btn-list">
									{{ order(fileManager, 'name') }}
									{{ order(fileManager, 'date') }}
									{{ order(fileManager, 'size') }}
									{{ order(fileManager, 'dimension') }}
								</div>
							</div>
						</div>
						{% endif %}
					</div>
				{% endblock %}
			</div>
			<div class="row">
				{% if fileManager.tree %}
				<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
					{% block tree %}
						<div class="table-responsive">
							<div id="tree"></div>
						</div>
					{% endblock %}
				</div>
				<div class="col-xs-12 col-sm-8 col-md-9 col-lg-10 no-tree-blk">
					{% else %}
					<div class="col-lg-12">
						{% endif %}
						{% block content %}
							<form id="form-multiple-delete">
								{% include '@ArtgrisFileManager/views/_manager_view.html.twig' with {'fileManager' :fileManager,  'fileArray' : fileArray, 'formDelete' : formDelete} only %}
							</form>
						{% endblock %}
					</div>
				</div>
			</div>
			{% include '@ArtgrisFileManager/views/_modals.html.twig' %}
		</div>

		{% block configured_javascripts %}
			{{ encore_entry_script_tags('app') }}
			{{ encore_entry_script_tags('admin') }}
		{% endblock %}

		{% block javascripts %}
			<script>
				// Lazy loading images
				document.addEventListener("DOMContentLoaded", function () {
					var lazyloadImages;

					if ("IntersectionObserver" in window) {
						lazyloadImages = document.querySelectorAll(".lazy");
						var imageObserver = new IntersectionObserver(function (entries, observer) {
							entries.forEach(function (entry) {
								if (entry.isIntersecting) {
									var image = entry.target;
									var style = "background-image: url({url})";
									image.setAttribute('style', style.replace("{url}", image.getAttribute('data-src')));
									image.classList.remove("lazy");
									imageObserver.unobserve(image);
								}
							});
						});

						lazyloadImages.forEach(function (image) {
							imageObserver.observe(image);
						});
					} else {
						var lazyloadThrottleTimeout;
						lazyloadImages = document.querySelectorAll(".lazy");

						function lazyload() {
							if (lazyloadThrottleTimeout) {
								clearTimeout(lazyloadThrottleTimeout);
							}

							lazyloadThrottleTimeout = setTimeout(function () {
								var scrollTop = window.pageYOffset;
								lazyloadImages.forEach(function (img) {
									if (img.offsetTop < window.innerHeight + scrollTop) {
										var style = "background-image: url({url})";
										image.setAttribute('style', style.replace("{url}", image.getAttribute('data-src')));
										img.classList.remove("lazy");
									}
								});
								if (lazyloadImages.length == 0) {
									document.removeEventListener("scroll", lazyload);
									window.removeEventListener("resize", lazyload);
									window.removeEventListener("orientationChange", lazyload);
								}
							}, 20);
						}

						document.addEventListener("scroll", lazyload);
						window.addEventListener("resize", lazyload);
						window.addEventListener("orientationChange", lazyload);
					}
				});
			</script>

			<script src="{{ asset('bundles/artgrisfilemanager/libs/jstree/dist/jstree.min.js') }}" defer></script>
			<script src="{{ asset('bundles/artgrisfilemanager/libs/blueimp-file-upload/js/vendor/jquery.ui.widget.js') }}" defer></script>
			<script src="{{ asset('bundles/artgrisfilemanager/libs/blueimp-file-upload/js/jquery.fileupload.js') }}" defer></script>

			<script defer>
				var treedata = {{ treeData|raw }};
				var tree = {{ fileManager.tree ? 'true' : 'false' }};
				var moduleName = "{{ fileManager.module ? fileManager.module : 0 }}";
				var successMessage = "{{ 'file.add.success'|trans }}";
				var url = "{{ path('file_manager', fileManager.queryParameters|merge({'json':true}))|e('js') }}"
				var urldelete = "{{ path('file_manager_delete', fileManager.queryParameters )|e('js') }}"
				var deleteMessage = "{{ 'title.delete'|trans }}"
				var renameMessage = "{{ 'title.rename.file'|trans }}"
				var downloadMessage = "{{ 'title.download'|trans }}";

				document.addEventListener("DOMContentLoaded", () => {
					// display messages
					{% for type, messages in app.session.flashbag.all %}
						{% for message in messages %}
							displayAlert('{{ type }}', '{{ message|trans|e('js') }}')
						{% endfor %}
					{% endfor %}

					// tree
					if (tree === true) {
						initTree(treedata);
					}
					
					$(document)
						// checkbox select all
						.on("click", "#select-all", function () {
							$("#form-multiple-delete").find(":checkbox").prop("checked", $(this).is(":checked"));
						})
						// delete modal buttons
						.on("click", ".js-delete-modal", function () {
							deleteFile($(this));
						})
						// rename modal buttons
						.on("click", ".js-rename-modal", function () {
							renameFile($(this));
						})
						// multiple delete modal button
						.on("click", "#js-delete-multiple-modal", function () {
							var $multipleDelete = $("#form-multiple-delete").serialize();
							if ($multipleDelete) {
								var href = urldelete + "&" + $multipleDelete;
								$("#js-confirm-delete").find("form").attr("action", href);
							}
						})
						// checkbox
						.on("click", "#form-multiple-delete :checkbox", function () {
							if ($(".checkbox").is(":checked")) {
								$("#js-delete-multiple-modal").removeClass("d-none");
							} else {
								$("#js-delete-multiple-modal").addClass("d-none");
							}
						});

					// file upload
					$("#fileupload").fileupload({
						dataType: "json",
						processQueue: false,
						dropZone: $("#dropzone"),
					})
					.on("fileuploaddone", function (e, data) {
						$.each(data.result.files, function (index, file) {
							if (file.url) {
								displaySuccess(
									"<strong>" + file.name + "</strong>: " + successMessage
								);
								// Ajax update view
								$.ajax({
									dataType: "json",
									url: url,
									type: "GET",
								})
								.done(function (data) {
									// update file list
									$("#form-multiple-delete").html(data.data);
									if (tree === true) {
										$("#tree").data("jstree", false).empty();
										initTree(data.treeData);
									}
									$("#select-all").prop("checked", false);
									$("#js-delete-multiple-modal").addClass("d-none");
								})
								.fail(function (jqXHR, textStatus, errorThrown) {
									displayError("<strong>Ajax call error :</strong>: " + jqXHR.status + " " + errorThrown);
								});
							} else if (file.error) {
								displayError("<strong>" + file.name + "</strong>: " + file.error);
							}
						});
					})
					.on("fileuploadfail", function (e, data) {
						$.each(data.files, function (index, file) {
							displayError("File upload failed.");
						});
					})
					.on("fileuploadprogressall", function (e, data) {
						if (e.isDefaultPrevented()) {
							return false;
						}
						var progress = Math.floor((data.loaded / data.total) * 100);
						$(".progress-bar")
							.removeClass("notransition")
							.attr("aria-valuenow", progress)
							.css("width", progress + "%");
					})
					.on("fileuploadstop", function (e) {
						if (e.isDefaultPrevented()) {
							return false;
						}
						$(".progress-bar")
							.addClass("notransition")
							.attr("aria-valuenow", 0)
							.css("width", 0 + "%");
					});

					$("#search").on("keyup", function () {
						var value = $(this).val().toLowerCase();
						$("#form-multiple-delete").find(".file-wrapper").filter(function () {
							$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
						});
					});

					// Module Tiny
					if (moduleName === "tiny") {
						$("#form-multiple-delete").on("click", ".select", function () {
							var windowManager =
								top != undefined && top.tinymceWindowManager != undefined
									? top.tinymceWindowManager
									: "";

							// tinymce 5
							if (windowManager != "") {
								if (top.tinymceCallBackURL != undefined)
									top.tinymceCallBackURL = $(this).attr("data-path");
								windowManager.close();
							} else {
								// tinymce 4
								var args = top.tinymce.activeEditor.windowManager.getParams();
								var input = args.input;
								var document = args.window.document;
								var divInputSplit = document
									.getElementById(input)
									.parentNode.id.split("_");

								// set url
								document.getElementById(input).value = $(this).attr("data-path");

								// set width and height
								var baseId = divInputSplit[0] + "_";
								var baseInt = parseInt(divInputSplit[1], 10);

								divWidth = baseId + (baseInt + 3);
								divHeight = baseId + (baseInt + 5);

								document.getElementById(divWidth).value = $(this).attr("data-width");
								document.getElementById(divHeight).value = $(this).attr("data-height");

								top.tinymce.activeEditor.windowManager.close();
							}
						});
					}

					// Module CKEditor
					if (moduleName === "ckeditor") {
						$("#form-multiple-delete").on("click", ".select", function () {
							var regex = new RegExp("[\\?&]CKEditorFuncNum=([^&#]*)");
							var funcNum = regex.exec(location.search)[1];
							var fileUrl = $(this).attr("data-path");
							window.opener.CKEDITOR.tools.callFunction(funcNum, fileUrl);
							window.close();
						});
					}
				});

				function displayAlert(type, msg) {
					var icon = type == "success" ? 'ti-check' : 'ti-alert-circle';
					var template = '<div class="position-fixed bottom-0 end-0 w-25 alert alert-' + type + ' alert-dismissible" role="alert" style="z-index: 9999;">' +
										'<div class="d-flex">' +
											'<div>' +
												'<i class="icon alert-icon ti ' + icon + '"></i>' +
											'</div>' +
											'<div>' +
												'<h4 class="alert-title">' + msg + '</h4>' +
											'</div>' +
										'</div>' +
										'<a class="btn-close" data-bs-dismiss="alert" aria-label="close"></a>' +
									'</div>';
					document.body.insertAdjacentHTML('beforeend', template);
					var alert = $(".alert.position-fixed");
					setTimeout(function () {
						alert.slideUp(400, function() {
							$(this).remove();
						});
					}, 3000);
				}

				function displayError(msg) {
					displayAlert("danger", msg);
				}

				function displaySuccess(msg) {
					displayAlert("success", msg);
				}

				function renameFile(renameModalButton) {
					$("#rename_f_name").val(renameModalButton.data("name"));
					$("#rename_f_extension").val(renameModalButton.data("extension"));
					$("#js-confirm-rename").find("form").attr("action", renameModalButton.data("href"));
				}

				function deleteFile(deleteModalButton) {
					$("#js-confirm-delete").find("form").attr("action", deleteModalButton.data("href"));
				}

				function initTree(treedata) {
					$("#tree").jstree({
						core: {
							data: treedata,
							check_callback: true,
						},
					}).bind("changed.jstree", function (e, data) {
						if (data.node) {
							document.location = data.node.a_attr.href;
						}
					});
				}
			</script>
		{% endblock %}
	</body>
{% endblock %}
</html>
