{% set icon = icon == "-up" ? 'ti-arrow-narrow-up' : (icon == "-down" ? 'ti-arrow-narrow-down' : 'ti-arrows-sort') %}

{% if islist %}
	<a href="{{ href }}">
		{{ ('table.'~type)|trans }} <i class="ti {{ icon }}"></i>
	</a>
{% else %}
	<a href="{{ href }}" class="btn btn{{ not active ? '-ghost' }}-primary">
		<i class="icon ti {{ icon }}"></i> {{ ('table.'~type)|trans }}
	</a>
{% endif %}
