<!doctype html>
<html lang="{{ app.session.get('config').locale }}" class="h-100">

	<head>
		<meta charset="utf-8">
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
		<title>{{ app.session.get('config').appName }} - {% block page_title %}{% endblock %}</title>
		{% block head_favicon %}
			<link rel="shortcut icon" href="{{ asset(app.session.get('config').appFavicon) }}">
		{% endblock %}

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
			{{ encore_entry_link_tags('public') }}
		{% endblock %}
	</head>

	<body class="theme-light {% block body_class %}{% endblock %}">

		{% set show_header = true %}
		{% set show_footer = true %}

		<div class="page">
			{% block header %}
			<header class="navbar navbar-expand-md navbar-light d-print-none">
				<div class="container-xl">
					{#
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader">
						<span class="navbar-toggler-icon"></span>
					</button>
					#}
					<a class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3" href="{{ path('public_home') }}">
						<img src="{{ app.session.get('config').appLogo }}" class="me-3" alt="{{ app.session.get('config').appName }}" height="30">
					</a>
					<div class="navbar-nav flex-row order-md-last">
						<div class="nav-item {% if is_granted('IS_AUTHENTICATED') %}dropdown{% endif %}">
							{% if is_granted('IS_AUTHENTICATED') %}
							<a href="#" class="btn btn-ghost-secondary" data-bs-toggle="dropdown">
								<i class="icon me-0 me-md-2 ti ti-user"></i> <span class="d-none d-md-block">{{ app.user }}</span>
							</a>
							<div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
								<a href="{{ path('logout') }}" class="dropdown-item">
									<i class="dropdown-item-icon icon ti ti-logout"></i> {{ 'public.login.logoutBtn'|trans }}
								</a>
							</div>
							{% else %}
							<a href="{{ path('login') }}" class="btn btn-ghost-secondary">
								<i class="icon me-0 me-md-2 ti ti-user"></i> <span class="d-none d-md-block">{{ 'public.login.loginBtn'|trans }}</span>
							</a>
							{% endif %}
						</div>
					</div>
					{#
					<div class="collapse navbar-collapse" id="navbarHeader">
						<div class="d-flex flex-column flex-md-row flex-fill align-items-stretch align-items-md-center">
							<ul class="navbar-nav">
								<li class="nav-item">
									<a class="nav-link" href="./index.html">
										<span class="nav-link-icon d-md-none d-lg-inline-block">
											<i class="icon ti ti-menu-2"></i>
										</span>
										<span class="nav-link-title">
											Home
										</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
					#}
				</div>
			</header>
			{% endblock %}

			{% block body %}
				<main class="page-body">
					<div class="container-xl">
						{% block main %}{% endblock %}
					</div>
				</main>
			{% endblock %}

			{% block footer %}
			<footer class="footer footer-light d-print-none">
				<div class="container-xl">
					<div class="row text-center align-items-center flex-row-reverse">
						<span class="text-muted">
							© {{ "now"|date("Y") }}
						</span>
					</div>
				</div>
			</footer>
			{% endblock %}
		</div>
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
			{{ encore_entry_script_tags('public') }}
		{% endblock %}
	</body>
</html>
