{% block delete_modal %}
	<div class="modal fade" id="js-confirm-delete" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				{{ form_start(formDelete) }}
				<div class="modal-header">
					<h5 class="modal-title">{{ 'title.delete'|trans }}</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					{{ 'confirm.delete'|trans }}
				</div>
				<div class="modal-footer">
					<div>
						<div class="mb-3">
							<button type="button" class="btn btn-default pull-left" title="{{ 'button.cancel'|trans }}" data-bs-dismiss="modal"> {{ 'button.cancel'|trans }}</button>
						</div>
					</div>
					{{ form(formDelete) }}
				</div>
				{{ form_end(formDelete) }}
			</div>
		</div>
	</div>
{% endblock %}

{% block rename_modal %}
	<div class="modal fade" id="js-confirm-rename" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				{{ form_start(formRename) }}
				<div class="modal-header">
					<h5 class="modal-title">{{ 'title.rename.file'|trans }}</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					{{ form_row(formRename.name) }}
				</div>
				<div class="modal-footer">
					<div class="mb-3">
						<button type="button" class="btn btn-default pull-left" data-bs-dismiss="modal">{{ 'button.cancel'|trans }}</button>
					</div>
					{{ form_row(formRename.send) }}
				</div>
				{{ form_end(formRename) }}
			</div>
		</div>
	</div>
{% endblock %}

{% block add_modal %}
	<div class="modal fade" id="addFolder" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				{{ form_start(form) }}
				<div class="modal-header">
					<h5 class="modal-title">{{ 'title.add.folder'|trans }}</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					{{ form_row(form.name) }}
				</div>
				<div class="modal-footer">
					<div class="mb-3">
						<button type="button" class="btn btn-default pull-left" data-bs-dismiss="modal">{{ 'button.cancel'|trans }}</button>
					</div>
					{{ form_row(form.send) }}
				</div>
				{{ form_end(form) }}
			</div>
		</div>
	</div>
{% endblock %}

{% block preview_modal %}
{% endblock %}
